body {
  background-color:  #C5A99C ;
}

h2, h3 {
  font-weight: lighter;
  font-style: oblique;
  font-family: fantasy;
  color: #47382B;
  margin: 15px;
}

.btn-primary {
    background-color: #47382B;
}

.btn-secondary {
  background-color: #B49B90;
}

button {
  margin: 10px;
}

img {
  width: 200px;
  height: 150px;
}
/*
.checkbox {
  align-items: baseline;
}*/

input {
    margin:0;
    vertical-align: bottom;
    position: relative;
}
